* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #1A1E21;
    --primary-text-color: #8A8A8A;
    --background-color: #F5F5F5;
    --nav-color: #FFFFFF;
    --btn-color: #2C67C3;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    padding: 20px 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-list li:nth-child(1) {
    margin-left: 0px;
}

.nav-list li:nth-child(1) a {
    color: black;
    padding-left: 0px;
}

.nav-list li {
    margin: 0px 10px
}

.nav-list li a {
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: var(--primary-text-color);
}

nav button {
    padding: 15px 40px;
    text-transform: uppercase;
    background-color: var(--btn-color);
    border-radius: 20px;
    border: 0px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

header {
    margin: 50px 0px;
    text-align: center;
}

header h1 {
    font-size: 2.8em;
    line-height: 1.5
}

header p {
    line-height: 1.5;
    width: 100%;
    max-width: 370px;
    margin: auto;
}

.products-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    margin: 0px 20px;
}

.product h3 {
    line-height: 1.5;
    color: #1A1E21;
    margin: 15px 0px;
}

.product img {
    width: 100%;
}

.product a {
    line-height: 1.5;
    padding: 8px 20px;
    background-color: var(--btn-color);
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 2px;
}

@media(max-width:550px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
    .nav-list li {
        margin: 10px 0px;
    }
    .nav-list li:nth-child(1) {
        margin-left: 10px;
    }
    .nav-list li:nth-child(1) a {
        padding-left: 10px;
    }
    .products-list {
        flex-direction: column;
        ;
    }
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product img {
        width: 50%;
    }
    .product a {
        display: block;
        width: 150px;
    }
}